<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        class="form-control"
        name="nombre"
        [(ngModel)]="nombre"
        [readonly]="!editandoPersonales"
      />
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="apellido">Apellido:</label>
      <input
        type="text"
        class="form-control"
        name="apellido"
        [(ngModel)]="apellido"
        [readonly]="!editandoPersonales"
      />
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="dni">DNI: </label>
      <input
        type="text"
        class="form-control"
        name="dni"
        [(ngModel)]="dni"
        [readonly]="!editandoPersonales"
      />
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="numTelefono">Teléfono:</label>
      <input
        type="text"
        class="form-control"
        name="numTelefono"
        [(ngModel)]="numTelefono"
        [readonly]="!editandoPersonales"
      />
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="email"
        [readonly]="!editandoPersonales"
      />
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="legajo">Legajo:</label>
      <input
        type="text"
        class="form-control"
        name="legajo"
        [(ngModel)]="legajo"
        [readonly]="!editandoPersonales"
      />
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="observaciones">Observaciones:</label>
      <textarea
        class="form-control"
        id="observaciones"
        name="observaciones"
        [readonly]="!editandoPersonales"
      ></textarea>
    </div>
  </div>
</div>
<div>
  <button class="btn btn-primary me-2" (click)="editarDatosPersonales()">
    {{ editandoPersonales ? 'Guardar' : 'Editar' }}
  </button>
  <button class="btn btn-primary" (click)="cancelarEdicionDatosPersonales()">
    {{ editandoPersonales ? 'Cancelar' : 'Imprimir Informe' }}
  </button>
</div>
