<table class="table" #tablaBecariosA id="tablaBecariosA">
  <thead>
    <tr>
      <th>Nombre y Apellido</th>
      <th>Dni</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Legajo</th>
      <th>Asistencia</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let becario of tabla">
      <td>{{ becario.nombre + " " + becario.apellido }}</td>
      <td>{{ becario.dni }}</td>
      <td>{{ becario.numTelefono }}</td>
      <td>{{ becario.email }}</td>
      <td>{{ becario.legajo }}</td>
      <td>
        <button
          mat-raised-button
          color="accent"
          matTooltip="Ver Asistencias"
          (click)="openModalAsistencias(becario.idPersona)"
        >
          <mat-icon>visibility</mat-icon>
          Ver Asistencias
        </button>
      </td>
      <td>
        <button class="me-2" mat-raised-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
