<app-cabecera-admin></app-cabecera-admin>


<br>
<div class="container">
    <div class="content">
        <h1>Información del becario: {{getApellido()}}</h1>
        <hr>

        <h2>Datos personales</h2>

        <app-becario-datos-personales></app-becario-datos-personales>

        <hr>


        <h2>Datos académicos</h2>

        <app-becario-datos-academicos></app-becario-datos-academicos>

        <hr>

        <h2>Proyectos asignados</h2>

        <app-becario-proyectos-asignados></app-becario-proyectos-asignados>
    </div>
</div>




<app-footer></app-footer>