<app-cabecera-admin></app-cabecera-admin>

<div class="container">
  <div class="content">
    <br />
    <div class="d-flex justify-content-between align-items-center">
      <h1>Listado de Becarios</h1>
      <div>
        <button mat-raised-button color="primary" class="me-2">
          <mat-icon>add</mat-icon>
          Agregar
        </button>
        <button mat-raised-button color="primary">Admitir becario</button>
      </div>
    </div>

    <app-tabla-becarios></app-tabla-becarios>
  </div>
</div>
<br />
<app-footer></app-footer>
