@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~startbootstrap-sb-admin-2/css/sb-admin-2.min.css';


/* Estilos para el menú desplegable en SB Admin 2 */
.dropdown-menu-end {
  right: 0; /* Posiciona el menú desplegable a la derecha */
  left: auto; /* Anula cualquier posición a la izquierda previamente establecida */
}


.topbar-divider {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 35px;
  margin: 5px 10px; 
}



/* Estilos para los íconos */
.navbar .nav-item .nav-link .fas {
  font-size: 1.25rem;
}

/* Estilos para los números de notificaciones y mensajes */
.badge-counter {
  position: absolute;
  transform: scale(0.7);
  top: 0;
  right: 0;
  padding: 0.25rem 0.4rem;
  border-radius: 50%;
  font-size: 0.85rem;
  line-height: 1;
  background-color: #f0506e; /* Color de fondo */
  color: #fff; /* Color del texto */
}

/* Estilos adicionales para que los números se muestren correctamente */
.navbar .nav-item .nav-link {
  position: relative;
  display: flex;
  align-items: center;
}

/* Ajustar posición del ícono y número */
.navbar .nav-item .nav-link .fas,
.navbar .nav-item .nav-link .badge-counter {
  margin-right: 0.25rem;
}

.img-profile {
  width: 30px;
  height: 30px;
}
/* NO TOCAR *//* NO TOCAR *//* NO TOCAR */
/* NO TOCAR *//* NO TOCAR *//* NO TOCAR */
/* Estilos para ajustar la barra de navegación en pantallas pequeñas */
@media (max-width: 768px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: space-between;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .navbar-nav li {
    margin-right: 10px;
  }

  .navbar-nav li:last-child {
    margin-right: 0;
  }

  .navbar-toggler {
    margin-right: 0;
  }

  .custom-navbar-collapse {
    display: none;
  }

  .navbar-nav .nav-link {
    margin-right: 0;
  }

  .navbar .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    font-size: 14px;
  }
}
