<table class="table" id="tablaLineas">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Proyectos</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let linea of tabla">
      <td>{{ linea.nombre }}</td>
      <td>{{ linea.descripcion }}</td>
      <td>
        <button
          mat-raised-button
          color="accent"
          matTooltip="Ver Proyectos"
          (click)="openModalVerProyectos(linea.nombre)"
        >
          <mat-icon>visibility</mat-icon>
          Ver Proyectos
        </button>
      </td>
      <td>
        <button class="me-2" mat-raised-button color="primary" class="me-2">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
